@media (max-width: 600px) {
    .title {
        font-size: 1.5em; /* Ajusta o tamanho da fonte em telas menores */
    }

    .input input {
        font-size: 14px; /* Ajusta o tamanho da fonte dos inputs */
    }
}
body{
    background-image: url(fundo.webp);
    
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    height: 100vh; /* Altura total da viewport */
    margin: 0; /* Remove margens */
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: auto;    /* Centraliza horizontalmente */
    margin-right: auto;   /* Centraliza horizontalmente */
    text-align: center;    /* Alinha o texto no centro */
}
.container{
    display: flex;
    background-color: rgb(17, 141, 125);
    width: 55%;
    height: 85%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    flex-direction: column;
}
.title{
    display: flex;
    justify-content: center;
    font: bold ;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: #0e0e0e 5px 5px 5px
}
.input input{
    display: flex;
    width: 18em;
    height: 150%;
    border-radius: 10px;
    border: none;
    outline: 0;
    font: bold;
    text-align: center;
    background-color: rgba(12, 12, 12, 0.644);
    color: #fff;
    font-size: 15px;
}
.input lebal{
    font: bold;
}
button{
    width: 85%;
    height: 8%;
    font: bold;
    font-size: 15px;
    background-color: rgba(51, 138, 33, 0.829);
    color: #fff;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

}
.resultado{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 95%;
    height: 30%;
    border-radius: 5px;
    font: italic;
    font-size: 18px;
    box-shadow: 0px 0px 10px;
    background-color: transparent;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
    font: italic;}
